@import 'https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/css/rawline.css';
html,
body {
  min-height: 100%;
}

html {
  overflow-y: scroll;
  font-size: 18px;
}

body {
  font-size: 1rem;
  font-weight: 300;
  font-family: Rawline;
  line-height: 1.4;
  color: #333333;
  background-color: #eceff1;
}

p,
ul,
li {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}
p:last-child,
ul:last-child,
li:last-child {
  margin-bottom: 0;
}

a {
  color: #00acc1;
}

code {
  background: #eceff1;
}

.wrapper {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 48px;
}

.details-group {
  border: 1px solid #cfd8dc;
  border-radius: 5px;
  background-color: white;
}

.details {
  overflow: hidden;
  border-bottom: 1px solid #cfd8dc;
  transition: height 300ms ease-in-out;
}
.details:last-child {
  border-bottom: 0;
}
.details__summary, .details__content, .summary-information {
  padding: 24px;
}
.summary-information{
  background: #FFFFFF;
  color: #071D41;
  font-weight: bolder;
}
[open] > .summary-information {
  color: #071D41;
}
.summary-information::-webkit-details-marker {
  display: none;
}
.summary-information:before, .summary-information:after {
  content: "";
  position: absolute;
}
.summary-information:before {
  left: 20px;
  top: 50%;
  height: 2px;
  margin-top: -1px;
  width: 16px;
  background: #071D41;
}
.summary-information:after {
  left: 28px;
  top: 50%;
  height: 16px;
  margin-top: -8px;
  width: 2px;
  margin-left: -1px;
  background: #071D41;
  transition: all 300ms ease-in-out;
}
[open] .summary-information:after {
  opacity: 0;
  transform: translateY(25%);
}
.details__summary, .summary-information {
  position: relative;
  list-style: none;
  padding-left: 48px;
  padding-bottom: 1px;
  padding-top: 1px;
  outline: 0;
  cursor: pointer;
  font-size: 18px;
  font-family: Rawline;
  transition: color 300ms ease-in-out;
}
.details__summary{
  background: #071D41;
  color: #FFFFFF;
}
[open] > .details__summary {
  color: #FFFFFF;
}
.details__summary::-webkit-details-marker {
  display: none;
}
.details__summary:before, .details__summary:after {
  content: "";
  position: absolute;
}
.details__summary:before {
  left: 20px;
  top: 50%;
  height: 2px;
  margin-top: -1px;
  width: 16px;
  background: #ffffff;
}
.details__summary:after {
  left: 28px;
  top: 50%;
  height: 16px;
  margin-top: -8px;
  width: 2px;
  margin-left: -1px;
  background: #ffffff;
  transition: all 300ms ease-in-out;
}
[open] .details__summary:after {
  opacity: 0;
  transform: translateY(25%);
}
.details__content {
  padding-top: 0;
  padding-left: 48px;
}

.validation-result {
  position: relative;
  padding-left: 10px;
  outline: 0;
  font-size: 18px;
  font-family: Rawline;
  transition: color 300ms ease-in-out;
  color: #FFFFFF;
  background: rgb(68, 205, 50);

}

body{
  background: #e6e6e6 !important;
}

.signer-msg{
  font-weight: bold;
  padding-left: 20px;
  font-size: 16px;
}
.signer-msg span{
  color: #48ac45;
}
.signer-info-container{
  margin: 10px 20px 20px 20px;
}
.signer-info{
  display: flex;
  flex-direction: row;
  padding: 4px 0;

}
.signer-info-key{
  width: auto;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.signer-info-value{
  width: 70%;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-break: break-word;
}
.signer-info-container.inline .signer-info{
  flex-direction: column;
}
.signer-info-container.inline .signer-info-key{
  width: 100%;
}
.signer-info-container.inline .signer-info-value{
  width: 100%;
}

@media screen and (max-width: 500px) {
  .signer-info-container{
    margin: 10px 0px 20px 00px;
  }
  .signer-info{
    flex-direction: column;
  }
  .signer-info-key{
    width: 100%;
    color: #666;
  }
  .signer-info-value{
    width: 100%;
  }
}